
@{
    ViewBag.Title = "Ilaclar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using EczaneOtomasyon.Models;
@section baslik{ İlaçlar}
@section sitemap{ İlaçlar}
@section title{ İlaçlar}
@model IEnumerable<EczaneOtomasyon.Models.TBLIlaclar>
@{
    EczaneDB db = new EczaneDB();
}

<div class="card card-outline card-primarycard-outline card-primary">
    <div class="card-header">
        <h3 class="card-title">İlaçlar</h3>
        <div class="card-tools">
        </div>
    </div>


    <!-- /.card-header -->
    <div class="card-body table-responsive">
        <table id="listele1" class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th width="1%">ID</th>
                    <th width="1%">İlaç Adı</th>
                    <th width="1%">İlaç Kategori</th>
                    <th width="1%">İşlem</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var a in Model)
                {
                    <tr>
                        @{
                            int k = Convert.ToInt32(a.IlacKategori);
                            TBLBolum b = db.TBLBolum.Where(x => x.BID == k).SingleOrDefault();
                        }
                        <td>@a.IID</td>
                        <td>@a.IlacAdi</td>
                        <td>@b.BAdi</td>
                        <td>
                            <div class="btn-group btn-block">
                                <a href="/Hekim/IlacSil?IlacID=@a.IID" class="btn btn-danger">İlaç Sil</a>
                            </div>
                        </td>
                    </tr>
                            }
            </tbody>
            <tfoot>
                <tr>
                    <th width="1%">ID</th>
                    <th width="1%">İlaç Adı</th>
                    <th width="1%">İlaç Kategori</th>
                    <th width="1%">İşlem</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <!-- /.card-body -->
</div>