
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3>@ViewBag.HastaSayi</h3>

                <p>Sistemdeki Toplam Hasta Sayısı</p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
            <a href="/Hekim/Hastalar" class="small-box-footer">Hastalara Git <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
            <div class="inner">
                <h3>@ViewBag.IlacSayi</h3>

                <p>Sistemdeki Toplam İlaç Sayısı</p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
            <a href="/Hekim/Ilaclar" class="small-box-footer">İlaçlara Git<i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
            <div class="inner">
                <h3>@ViewBag.ReceteHasta</h3>

                <p>Toplam Yazdığınız Reçete Sayısı</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a href="/Hekim/Receteler" class="small-box-footer">Reçetelere Git <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>@ViewBag.DoktorSayi</h3>

                <p>Sistemdeki Toplam Doktor Sayısı</p>
            </div>
            <div class="icon">
                <i class="fa fa-comments"></i>
            </div>
            <a href="#" class="small-box-footer">...<i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
</div>