
@{
    ViewBag.Title = "Profil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using EczaneOtomasyon.Models;
@section baslik{ Profil}
@section sitemap{ Profil}
@section title{ Profil}
@model EczaneOtomasyon.Models.TBLKullanici
@{
    EczaneDB db = new EczaneDB();
}
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Profil Ayarları</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    @using (Html.BeginForm("Profil", "Hekim", FormMethod.Post, new { @class = "form-horizontal", @id = "form_sample_1", @enctype = "multipart/form-data" }))
            {
        <div class="card-body">


            @*Ad Soyad*@
            <div class="form-group">
                <label for="exampleInputEmail1">Ad Soyad</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-ticket"></i></span>
                    </div>
                    <input class="form-control" placeholder="AdSoyad" name="AdSoyad" value="@Model.AdSoyad">
                </div>
            </div>
            @*Kullanıcı Adı*@
            <div class="form-group">
                <label for="exampleInputEmail1">Kullanıcı Adı</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                    </div>
                    <input class="form-control" placeholder="TC" name="TC" value="@Model.TC">
                </div>
            </div>
            @*Şifre*@
            <div class="form-group">
                <label for="exampleInputEmail1">Şifre</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-key"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="Sifre" name="Sifre" value="@Model.Sifre">
                </div>
            </div>
            @*Mail*@
          

        </div>
                        <!-- /.card-body -->

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Bilgileri Güncelle</button>
                </div>
    }
</div>
